<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Item Catalog</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="container">
            <div>
                <a href="{{ url_for('landing') }}"><img src="{{ url_for('static', filename='img/ic-logo.png') }}"></a>
            </div>
            <ul>
                <li><a href="{{ url_for('landing') }}">Home</a></li>
                {% if g.user %}
                <li><a href="{{ url_for('cat_new') }}">New Category</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block layout %}{% endblock %}
</body>

</html>
