{% extends 'layout.html' %}


{% block content %}

{% if category %}
    <div class="container-fluid">
        <h1>{{ category.name }}</h1>
        {% if g.user == category.user %}
        <div class="controls">
            <a href="{{ url_for('item_new', c_path=category.path) }}">New Item</a>
            <a href="{{ url_for('cat_update', c_path=category.path) }}">Edit</a>
            <a href="{{ url_for('cat_delete', c_path=category.path) }}">Delete</a>
        </div>
    </div>
    {% endif %}
{% else %}
    <h1>Latest Items</h1> 
{% endif %}

<ul>
    {% for i in items %}
    <li>
        <a href="{{ url_for('item_read', c_path=i.category.path, i_path=i.path) }}">
            <img src="{{ i.image }}">
            {{ i.name }}
        </a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
