{% extends 'category.html' %}


{% block cat_content %}

{% if category %}
    <h1>{{ category.name }}</h1>
    <a href="{{ url_for('cat_update', c_path=category.path) }}">Edit</a>
    <a href="{{ url_for('cat_delete', c_path=category.path) }}">Delete</a>
    <a href="{{ url_for('item_new', c_path=category.path) }}">New Item</a>
{% else %}
    <h1>Latest Items</h1> 
{% endif %}

<ul>
    {% for i in items %}
    <li><a href="{{ url_for('item_read', c_path=i.category.path, i_path=i.path) }}">{{ i.name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
