{% extends 'layout.html' %}


{% block content %}

<div class="container-fluid">
    <h1>{{ item.name }}</h1>
    {% if g.user == item.user %}
    <div class="controls">
        <a href="{{ url_for('item_update', c_path=item.category.path, i_path=item.path) }}">Edit</a>
        <a href="{{ url_for('item_delete', c_path=item.category.path, i_path=item.path) }}">Delete</a>
    </div>
</div>
{% endif %}
<div class="container-fluid">
    <div class="sidebar">
        <img src="{{ item.image }}">
    </div>
    <div class="content">
        <p>{{ item.notes }}</p>
    </div>
</div>

{% endblock %}
